<%- include("../partials/navbar") %>

  <div class="tittle-container text-center fs-2 fw-bold">
    Hey 😎 <br> <em>Awesome One </em>
  </div>

  <div class="warning-box my-5 px-2 text-center">
    <!-- error msg flash  -->
    <%- include("../partials/message") %>

    <!--  -->
    <form id="present-form" action="/user/attendence/coords" method="post" class="">
      <input type="hidden" id="latitude-input" name="latitude" value>
      <input type="hidden" id="longitude-input" name="longitude" value>
      <input type="hidden" id="err_location" name="err_location" value>
      <% if(present == true ){ %> 
        
        <input type="submit" id="present-btn" class="btn btn-primary  btn-lg px-4 fw-bold py-2" value="At work Place" disabled >
        <% } else { %> 
          <p class="small-text text-secondary"> Please be at your work place..</p>
          <input type="submit" id="present-btn" class="btn btn-primary btn-dark  btn-lg px-4 fw-bold py-2" value="Reach At work Place">
      <% } %> 
    </form>
  </div>
  <div class="history-accordion">
    <p class="lead px-3 mb-0 small-text">You can check you attendence and to do-list history from here.
    </p>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Last 15 days history
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="last-history">
              <div class="row row-cols-4 rol-cols-md-6 g-1">
                <% for(let obj of objs ) {%>
                  <div class="col p-0 my-1">
                      <% if(obj.list !==null) { %>
                        <div data-bs-toggle="modal" data-bs-target="#modal<%= obj.list._id %>" class="daily-btn btn 
                        btn-outline-<%= obj.list.present ==true ? 'success' : 'warning'%>">
                          <%= obj.date %>
                        </div>

                        <!-- ? modal for that day history  -->
                        <!-- Scrollable modal -->
                        <!-- Button trigger modal -->
                        <!-- Modal -->
                        <div class="modal fade" id="modal<%= obj.list._id %>" tabindex="-1" aria-labelledby="<%= obj.list._id %>"
                          aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title text-<%= obj.list.present ===true ? 'success' : 'warning'%>" id="">
                                  <%= obj.date %>
                                  <p class="small-text">You are <%=obj.list.present === true ? '' : 'not' %> at your work place.</p>
                                </h5>

                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                              </div>
                              <div class="modal-body">

                                <!-- use for loop for task -->
                                <% for(let task of obj.list.taskList) { %> 
                                  <div class="alert alert-<%= task.done ===true ? 'primary' : 'danger' %> small-text" role="alert">
                                    <%= task.name %> 
                                  </div>
                                <% } %> 



                              </div>
                            </div>
                          </div>
                        </div>

                        <% } else { %>

                          <div data-bs-toggle="modal" data-bs-target="#modal-empty"
                          class="daily-btn btn btn-outline-secondary">
                            <%= obj.date %></div>

                        <% } %>
                  </div>
                  <% } %>

                <!-- modal for history with no data we create only one -->
                <div class="modal fade" id="modal-empty" tabindex="-1" aria-labelledby=""
                  aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="">
                         
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                          aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="alert alert-danger" role="alert">
                          You have not used this application that day.
                          You don't have any history.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Monthly history
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="last-history">
              <div class="alert alert-warning" role="alert">
                You don't have any history.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include("../partials/footer") %>