
<%- include("../partials/navbar") %> 
<div class="user-page">
 <div class="user text-center mt-4">
  <span class="d-block">Hey !<figure class="d-block text-center">
   <img src="<%= user.profile.pictureUrl %> " alt="...">
  </figure> <em><%= user.profile.name %> </em> </span>
 </div>
 <div class="quote px-2 my-5"> <q class="blockquote d-block p-1"><%= quote %> </q></div>

 <div class="main-button d-flex text-center justify-content-center">
  <a class="btn btn-primary btn-dark btn-lg m-2 py-2 fs-3 fw-bold" href="/user/attendence" type="button">Attendence</a>
  <a class="btn btn-outline-secondary btn-lg m-2 py-2 fs-3 fw-bold " type="button" href="/user/todo-list">To-do List</a>
 </div>
</div>
<%- include("../partials/footer") %> 